table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    backdrop-filter: blur(10px);
    color: black;
    background-color: white;
}

body {
    background-color: yellow;
    color: black;
    align-items: center;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

fieldset {
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    border-collapse: collapse;
    background-color: white;
    align-items: center;
}

input {
    border-radius: 5px;
}

button {
    border-radius: 5px;
    background-color: white;
}

button:hover {
    background-color: greenyellow;
}

label {
    color: black;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px;
}

#deletar {
    background-color: white;
}

#deletar:hover {
    background-color: greenyellow;
}

h1 {
    text-align: center;
}