body {
    background-color: yellow;
}

fieldset {
    border-radius: 25px;
    padding: 50px;
    text-align: center;
    background-color: white;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px;
}

h1 {
    color: black;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}

button {
    border-radius: 10px;
}

button:hover{
    background-color: lightgreen;
}

input {
    border-radius: 10px;
    background-color: lightgrey;
}

input:hover{
    background-color: white;
}